{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Buses{% endblock %}

{% block content %}
    <div class="container">
      <h1>Problem!</h1>
      <p>
	Couldn't get NextBus data.  Try again:
      </p>
      <p>
	<a href="{{ url_for('teele') }}">
	  <button type="button" class="btn btn-info btn-lg">
	    Teele
	  </button>
	</a>
	<a href="{{ url_for('davis') }}">
	  <button type="button" class="btn btn-info btn-lg">
	    Davis
	  </button>
	</a>
      </p>
    </div>
{% endblock %}

{% block head %}
{{super()}}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
{{fixes.ie8()}}
{% endblock %}
