{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Buses{% endblock %}

{% block content %}
    <div class="container">
      <h1>{{ h }}</h1>
      <ul>
	{% for sec, rt, min in b %}
	<li>Bus {{ rt }} is {{ min }} minutes away.</li>
	{% endfor %}
      </ul>
      <p>
	<em>{{ t }}</em>
      </p>
    </div>
{% endblock %}

{% block head %}
{{super()}}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
{{fixes.ie8()}}
{% endblock %}

